@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

#upload {
  position: absolute;
  z-index: 10;
  bottom: 4%;
  right: 50%;
}
